{% extends "core/base.html" %}
{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Detalle de Pieza {% endblock title %}
</head>

<body>
    {% block content %}
    <h1 style="text-align: center;">Detalle de la Pieza</h1>

    <div class="conatiner">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="card" style="width: 18rem; height: 40%;">
                    {% if pieza.imagen_pieza %}
                    <img class="card-img-top" src="{{ pieza.imagen_pieza.url }}" alt="Card image cap">
                    {% endif %}

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Descripción: {{ pieza.descripcion }}</li>
                        <li class="list-group-item">Número de Serie: {{ pieza.numero_serie }}</li>
                        <li class="list-group-item">Ubicación: {{ pieza.ubicacion }}</li>
                        <li class="list-group-item">Cantidad Disponible: {{ pieza.cantidad_disponible|intcomma }}</li>
                        <li class="list-group-item">Precio Unitario: ${{ pieza.precio_unitario|floatformat:"0"|intcomma }}</li>
                    </ul>
                    <div class="card-body" style="text-align: center; padding: 15px;">
                        <a href="{% url 'piezas' %} " class="btn btn-primary" style="margin: 10px;">Volver al Catálogo</a>
                        <a href="{% url 'carro:agregar' pieza.id %}" class="btn btn-primary">Agregar al Carrito</a>
                    </div>
                </div>
            </div>

        </div>

    </div>






    {% endblock content %}
</body>

</html>