{% extends "core/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} Perfil {% endblock title %}

</head>

<body>
    {% block content %}
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="{{user.imagen_perfil.url}}" alt="Card image cap">
                    <div class="card-body">
                        
                        <div class="dropdown-divider"></div>
                        <h6 class="card-title">Nombre: {{user.nombre | upper}}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-title">Apellido: {{user.apellido | upper}}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-title"><i class="bi bi-people"></i>Rol: {{user.rol}}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-title"><i class="bi bi-envelope-at"></i>Correo: {{user.email | upper}}</h6>
                        <div class="dropdown-divider"></div>
                        <h6><i class="bi bi-phone"></i> Teléfono: {{user.telefono}}</h6>
                        <div class="dropdown-divider"></div>
                        <h6 class="card-text"><i class="bi bi-calendar"></i>Fecha Registro: {{user.fecha_registro}}</h6>
                        <div class="dropdown-divider"></div>

                        <a href="" class="btn btn-sm btn-success">Modificar Perfil</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4>Título Cualquiera</h4>
                <p>{% lorem %}</p>
            </div>
        </div>
        {% else %}
        <h4>Título cualquiera</h4>
        <p>{% lorem %}</p>
    </div>

    {% endif %}
    {% endblock content %}

    {% block footer %}
    {% endblock footer %}

</body>

</html>